<div class="container mt-4">
    <h2>Product List</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @for (product of products; track product.id) {
        <div class="col mb-4">
            <div class="card">
                <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>